<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='client.css' type="text/css" rel="stylesheet">
    <script src="client.js" type="text/javascript"></script>
    <script src="serverstub.js" type="text/javascript"></script>
    <title>TWIDDER</title>

    <script id="welcomeview" type="text/view">
        <div class="container">
            <div id="logoslogan"><a href="/TDDD97/client.html"><img src="wimagew.png" width="340" height="400"/></a></div><!-- logo slogan -->
            <div id="login">
                <h2>Sign In</h2><br />
                <form onsubmit="return loginConverter(this);">
                    <label>Email<input type="email" name="email" required></label><br>
                    <label>Password<input type="password" id="loginpass" name="password" required></label>
                    <button type="submit">Login</button>
                    <div id="loginfail" class="failed"></div>
                </form>
            </div><!-- login -->
            <div id="signup">
                 <h2>Sign up here</h2><br />
                <form id="signupform" onsubmit="return signupConverter(this);">
                    <fieldset>
                        <label>First name<input id="firstname" type="text" name="firstname" required></label><br />
                        <label>Last name<input id="lastname" type="text" name="lastname" required></label><br />
                        <label>Gender
                            <select id="gender">
                                <option value="Male">-- Select --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </label>
                        <label>City <input id="city" type="text" name="city" required></label><br />
                        <label>Country <input id="country" type="text" name="country" required></label><br />
                        <label>Email <input id="email" type="email" name="email" required></label><br />
                        <label>Password: <input id="password" type="password" onkeyup="passwordLength()" required></label><br />
                        <label>Repeat PW <input id="confirm_password" type="password" onkeyup="validatePassword()" required></label>
                        <button type="submit">Sign Up</button>
                    </fieldset>
                </form>

            </div><!-- signup -->
        </div><!-- container -->
    </script><!-- welcomveview -->

    <script id="profileview" type="text/html">
        <header id="header">
            <nav id="nav">
                <ul id="tabs">
                    <li id="home" class="selected"><a onclick='tabs("home")' href="javascript:void(0);">Home</a></li>
                    <li id="browse"><a onclick='tabs("browse")' href="javascript:void(0);">Browse</a></li>
                    <li id="account"><a onclick='tabs("account")' href="javascript:void(0);">Account</a></li>
                    <li id="signout"><a onclick='logoutUser()' href="javascript:void(0);">Sign out</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div id="loggedin">
                <div id="tabview"></div>
            </div>
        </div><!-- container -->
    </script><!-- profileveview -->

    <script id="hometab" type="text/html">
        <div id="personalinfo">
        <h1>Welcome <span id="usrfirstname"></span> <span id="usrfamname"></span> to TWIDDER</h1>
        <br />



            <h2>Personal information</h2>
            <br />
            Gender:
            <span class="persinfo" id="usrgender"></span><br />

            City:
            <span class="persinfo" id="usrcity"></span><br />

            Country:
            <span class="persinfo" id="usrcountry"></span><br />

            E-mail:
            <span class="persinfo" id="usremail"></span><br />
            <br />
        </div>
        <div class="clear"></div>
        <div id="messageform">
          <form onsubmit="return post_message(this);">
                    <fieldset>
                        <textarea id="textbox" name="message"></textarea>

              <button id="sendmess" type="submit">SEND</button>
                        </fieldset>


              </form>
              <button id="updatewall" type="submit" value="Update wall" onclick="return get_messages();"></button>

         <div id="userwall"></div>

                        </div><!-- messageform -->


        <div class="clear"></div>
    </script><!-- homeview -->

    <script id="browsetab" type="text/html">

    <div id="personalinfo">

    <h2>Browse user</h2>
    <br />
    <form>
                    <label>User Email<input type="text" id="useremail" required></label><br>

        <button type="submit" onclick="return browseUserInfo(useremail);">Search User</button>
                </form>


<div class="clear"></div>
<br>
        <div id="error"></div>
        </div><!-- personal info-->
<div id="browseinfo">

        <h1>Profile for: <br><span id="usrfirstname"></span> <span id="usrfamname"></span></h1>
        <br />

            <h2>Personal information</h2>
            <br />
            Gender:
            <span class="persinfo" id="usrgender"></span><br />

            City:
            <span class="persinfo" id="usrcity"></span><br />

            Country:
            <span class="persinfo" id="usrcountry"></span><br />

            E-mail:
            <span class="persinfo" id="usremail"></span><br />
            <br />

    <h2>Post on this wall</h2>
        <div class="clear"></div>
        <div id="messageform">

          <form onsubmit="return post_message(this);">
                    <fieldset>
                        <textarea id="textbox" name="message"></textarea>

              <button id="sendmess" type="submit">SEND</button>
                        </fieldset>
              </form>
              <button id="updatewall" type="submit" value="Update wall" onclick="return get_messages();"></button>
         <div id="userwall"></div>

                        </div><!-- messageform -->

        </div><!-- browseinfo -->

        <div class="clear"></div>





    </script><!-- browseview -->

    <script id="accounttab" type="text/html">
<div id="personalinfo">

    <h2>Change password</h2>
    <br />
    <form onsubmit="return changePass(this);">
                    <label>Old password<input type="password" name="oldPassword" required></label><br>
                    <label>New password<input type="password" name="newPassword" required></label><br>

        <button type="submit">Change password</button>
                </form>
    <br>
    <div id="info"></div>
    </div>
    </script><!-- accountview -->
</head>
<body>
    <div id="mainview"></div><!-- view content -->

</body>
</html><!-- logo slogan -->
